html {
  font-size: 16px;
}

body {
  background: url(../images/nachlaot_portrait.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Palatino, Georgia, serif;
  color: rgba(18, 18, 18, 100);
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.content {
  background-color: white;
  opacity: 0.8;
  padding: 1.5rem;
  text-align: center;
  line-height: 1.4rem;
  border-radius: 3px;
  width: 60vw;
}

.links {
  margin-top: 1.5rem;
}

.links img {
  margin: 0 14px;
}

@media (orientation: portrait) {
  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (orientation: landscape) {
  body {
    background: url(../images/arizona_landscape.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .content {
    width: 25vw;
    margin-top: 4vw;
    margin-left: 5vw;
  }
}
